body {
  margin: 0;
}
.header-menu__item, .main-content__description, .main-content__button {
  font-family: Roboto;
}
.header-logo, .main-content__title {
  font-family: PT Serif;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header-logo, .header-menu {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}
.header-logo {
  padding: 40px 0;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu__item {
  padding: 0 13px;
}
.header-menu__item:last-child {
  padding-right: 0;
}
.main-content, .image-big {
  display: inline-block;
}
.main-content__title {
  width: 37%;
  padding-top: 36px;
  margin: 0 0 40px 0;
}
.main-content__description {
  width: 30%;
  margin: 0 0 41px 0;
}
.main-content__description {
  width: 18%;
}
