body {
  margin: 0;
}
.header-menu__item, .main__description, .main__button {
  font-family: Roboto;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.header-logo, .header-menu {
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.header-logo {
  position: relative;
  padding: 38px 0;
  padding-left: 48px;
  font: bold 25px/32px pt_serif, arial, helvetica, sans-serif;
}
.header-logo__circle {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.header-logo__circle_color_dark-blue {
  background: #0056EC;

}
.header-logo__circle_color_blue {
  left: 13px;
  top: 56%;
  background: #C8DBFB;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu__item {
  position: relative;
  padding-top: 7px;
  margin-right: 25px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .7s;
}
.header-menu__item:last-child {
  margin-right: 0;
}
.header-menu__item:hover {
  opacity: .5;
}
.header-menu__item:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .7s;
}
.header-menu__item:hover:after, .header-menu__item_active:after {
  opacity: 1;
}
.main {
  padding: 0 63% 100% 0;
  padding-top: 79px;
  background: top 4px right -9px no-repeat url(img/main_image.svg);
}
.main__title {
  font: bold 69px/87px pt_serif, arial, helvetica, sans-serif;
  margin: 0 0 35px 5px;
}
.main__title_highlight {
  background: #ECF3FF;
}
.main__description {
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
  width: 80%;
  margin: 0 0 59px 5px;
}
.main__button {
  margin-left: 6px;
  padding: 17px 21px;
  text-decoration: none;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #FFF;
  background: #0056EC;
  border-radius: 4px;
  transition: color .7s;
  transition: background-color .7s;
}
.main__button:hover {
  /* opacity: .5; */
  background: #ECF3FF;
  color: #0056EC;
}
